.viewproj{
    top: 89px;
    left: 49%;
  }


  #viewproj3 {
    top: 97px;
}

  .projhead{
      left: 7px;
  }

  .hrline {
    top: 14px;
    left: 9px;
    width: 93%;
  }

  #viewproj4{
      top: 154px;
  }

  #skillleftbox {
    top: 109px;

}

